template(name="index")
  .container.index
    .row
      //.col-lg-4
      //  .well
      //    h3 Converters
      //    ul
      //      li: a(href="/convert/css-to-stylus") CSS to Stylus
      //      li: a(href="/convert/html-to-jade") HTML to Jade
      .col-lg-8.col-lg-offset-2
        h1 <strong>Priest</strong>, free online <strong>converter and formatter</strong>
        .alert.alert-success
          ul
            li <strong>Convert whole projects</strong> to CoffeeScript, Stylus, Jade.
            li <strong>Check your code</strong> with backward conversion to JavaScript, CSS, HTML.
            li <strong>Enjoy fastest conversion</strong>, done in-browser.
            li <strong>Use spaces or tabs</strong> (settings <strong>saved in cookies</strong>).
        .well.converter
          .input
            if isWebkit
              p
                | Batch convert project directory:
                input.files(type="file" name="dir" directory webkitdirectory mozdirectory)
            p
              | Convert a file:
              input.files(type="file" name="files[]")
            .errors
              each errors
                .alert.alert-danger.fade.in
                  button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                  p #{.}
            div.back-placeholder
              div.placeholder-div
                div.placeholder-text
                  | Paste code here
                  br
                  br
                  | JavaScript &rarr; CoffeeScript
                  br
                  | CoffeeScript &rarr; JavaScript
                  br
                  | HTML &rarr; Jade
                  br
                  | Jade &rarr; HTML
                  br
                  | CSS &rarr; Stylus
              textarea(autofocus="autofocus", class=placeholder)
            span * Encoding of "UTF-8" assumed
            p.indentation-wrapper
              input.indentation-character(type="radio", name="indentation-character", value="space", checked=spaceIndentation, id='space-radio')
              input.indentation-count(type="text", name="space-indentation-count", value=spaceIndentationCount, size="1", maxlength="1")
              label(for='space-radio')
                | Spaces
            p.indentation-wrapper
              input.indentation-character(type="radio", name="indentation-character", value="tab", checked=tabIndentation, id='tab-radio')
              input.indentation-count(type="text", name="tab-indentation-count", value=tabIndentationCount, size="1", maxlength="1")
              label(for='tab-radio')
                | Tabs
          .output
            textarea(hidden=hide) #{result}
          .alert.alert-success
            strong Your data is safe, my friend.
            | Whatever you convert stays inside your browser.
        h2 Spread the good news
        +social
        h2 Upcoming features
        ul
          li Autoconvert text in browser (for Github and other sites)
          li Offline app for times of weak connection
          li Mobile HTML5 app
          li: a(href="https://github.com/DenisGorbachev/priest/issues/new") Suggest new
        p.
          If you like Priest, why not to <a href="https://github.com/DenisGorbachev/priest">send some pull requests</a>?
        p.
          If you have something to say, why not to <a href="https://pintask.me/board/ZXEeZcXeWxqCcsjcY">leave a feedback</a>?
        hr
        p.
          Priest is an imaginary friend of <a href="https://twitter.com/DenGorbachev">Denis Gorbachev</a> and <a href="https://twitter.com/TaniaMalyutina">Tatiana Malyutina</a>. Thanks to <a href="https://twitter.com/rstacruz">Rico Sta Cruz</a>, <a href="https://twitter.com/tdecs">Denis Ciccale</a> and <a href="https://twitter.com/donpark">Don Park</a> who provided foundational code.
        //iframe(src="http://ghbtns.com/github-btn.html?user=DenisGorbachev&repo=priest&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="40")

